.login{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(000,000,000,0.5);
	z-index: 10;
	display: none;
	
}
.login_lo{
	width: 495px;
	height: 545px;
	background: #FFFFFF;
	text-align: center;
	margin: 200px auto;
	padding-top: 10px;
	position: relative;
}
.login_lo .image{
	
}
.login_lo ul{
	width: 290px;
	height: 20px;
	border-bottom: 1px solid #cccccc;
	margin: auto;
	margin-bottom: 20px;
}
.login_lo .li1{
	border-right: 1px solid #cccccc;
}
.login_lo .li1 a{
	color: #ff0000;
}
.login_lo li{
	float: left;
	width: 144px;
}
.login_lo table{
	border: 1px solid #CCCCCC;
	margin-left:100px ;
	margin-bottom:20px ;
}
.login_lo th{
	width: 74px;
	height: 40px;
	margin-bottom: 20px;
}
.login_lo input{
	width: 214px;
	height: 40px;
	border: none;
}
.Wjma{
	position: absolute;
	right: 90px;
	bottom: 245px;
}
.Wjma:hover{
	color: #ff0000;
}
.login_lo button{
	width: 90px;
	height: 30px;
	background: #FF0000;
	border: none;
	color: #FFFFFF;
	margin-bottom: 40px;
}
.debark{
	width: 290px;
	height: 90px;
	margin: auto;
	border-top: 1px solid #CCCCCC;
	padding-top: 30px;
}
.debark p{
	margin-bottom: 30px;
}
.mistake{
	width: 30px;
	height: 30px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}
.mistake:hover{
	background: #ff0000;
	color: #ffffff;
}






.roof{
	border-top: 13px solid #eb1b23;
	width: 100%;
	height: 117px;
	background: #eeeeee;
}
.head{
	width: 1200px;
	margin: auto;
	
}
.logo{
	float: left;
	margin-left: 40px;
}
.head ul{
	float: left;
	margin-left: 110px;
}
.head ul li{
	float: left;
	margin: 0 15px;
}
.head ul a{
	line-height: 116px;
}
.head ul a:hover{
	color: #EB1B23;
}
.head .page{
	text-decoration: underline;
	color: #EB1B23;
}
.head_search{
	width: 167px;
	float: right;
	position: relative;
}
.head_search p{
	font-size: 12px;
	float: right;
	color: #3f3f3f;
}
.head_search input{
	width: 113px;
	margin-top: 48px;
}
.head_search img{
	position: absolute;
}
.head_search img:hover{
	transition: all 0.5s;
	transform: scale(1.5);
}
.head_search .t1{
	top: 49px;
	right:51px ;
	position: absolute;
	background: url(../image/Qyh_homepage_jlt_06.jpg);
	width: 17px;
	height: 17px;
	border: none;
}
.head_search .t2{
	top: 49px;
	right:5px ;
}
.head_search .t3{
	top: 49px;
	right:27px ;
}
.banner{
	width: 100%;
	height: 763px;
	position: relative;
}
.banner img{
	position: absolute;
	width: 100%;
	height: 100%;
}
.banner .img2{
	display: none;
	
}
.navigation{
	background: #343434;
	width: 100%;
	margin-bottom: 70px;
}
.navigation1{
	width: 1200px;
	height: 67px;
	margin: auto;
	/*position: relative;*/
}
.navigation1 ul li{
	float: left;
	margin: 0 75px;
	text-align: center;
}

.navigation1 .a1{
	color: #eb1b23;
	
}
/*.navigation1 span{
	display: block;
	height: 83px;
	width: 88px;
	background: url(../image/navigation01.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top:-10px;
	z-index: 5;
}*/
.navigation1 .a1:after{
	
}
.navigation1 a{
	color: #fff;
	width: 90px;
	line-height: 67px;
	width: 90px;
	display: block;
	
}
.navigation1 a:hover{
	color: #eb1b23;
	transition: all 0.5s;
	transform: scale(1.5);
}
.content{
	width: 1200px;
	min-height: 1570px;
	margin: auto;
	margin-bottom: 50px;
}
.content h5{
	line-height: 30px;
	margin-bottom: 30px;
}
.content .a1{
	color:#eb1b23 ;
}
.great{
	margin-right: 15px;
	height: 1470px;
	width: 385px;
	float: left;
	overflow: hidden;
}
.great_1{
	margin-bottom: 25px;
	position: relative;
}
.great_1_zzc{
	padding: 230px 0 0 55px;
	width: 329px;
	height: 296px;
	background: #000000;
	opacity: 0.5;
	color: #FFFFFF;
	line-height: 32px;
	font-size: 16px;
	position: absolute;
	top: 0;
	display: none;
}
.great_1_zzc a{
	display: block;
	width: 75px;
	height: 25px;
	background: #eb1b23;
	text-align: center;
	line-height: 25px;
	color: #FFFFFF;
}
.great_1_zzc .name{
	width: 255px;
	height: 60px;
	text-align: center;
	font-size: 37px;
	border-top: 3px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	margin-top: 20px;
	line-height: 57px;
	
}
.great_2 .great_1_zzc{
	padding: 183px 0 0 55px;
}
.great_3 .great_1_zzc{
	padding: 109px 0 0 55px;
}
.great_4 .great_1_zzc{
	padding: 90px 0 0 55px;
}
.great_5 img{
	width: 385px;
	height: 550px;
}
.great_5 .great_1_zzc{
	padding: 254px 0 0 56px;
}
.great_6 .great_1_zzc{
	padding: 183px 0 0 56px;
}
.great_7 .great_1_zzc{
	padding: 284px 0 0 56px;
}
.great_8 .great_1_zzc{
	padding: 263px 0 0 56px;
}

.great_9 .great_1_zzc{
	padding: 0 0 0 56px;
	height: 282px;
}
.fy{
	width: 310px;
	height: 60px;
	float: right;
	margin-top: 20px;
}
.fy p{line-height: 44px;}
.fy .p1{float: left;}
.fy .p2{float: right;}
.fy ul{
	text-align: center;
	height: 44px;
	margin: auto;
	width: 256px;
}
.fy li{
	float: left;
	width: 44px;
	height: 44px;
	line-height: 44px;
	margin: 0 9px;
	border: 1px solid #eb1b23;
	color: #000000;
	border-radius: 10px;
}
.fy .li1{
	background: #eb1b23;
	color: #ffffff;
}

.footertop{
	background: #4d4d4d;
	padding-top: 40px;
	height: 168px;
}
.footertop1{
	width: 1200px;
	margin: auto;
	height: 187px;
	position: relative;
}
.sum{
	width: 80px;
	text-align: center;
	float: left;
	margin-right: 50px;
	color: #c1c1c1
}
.sum a{
	font-size: 12px;
	color: #c1c1c1;
}
.sum a:hover{
	color: #FFFFFF;
}
.return_r{
	width: 225px;
	float: right;
}
.return_r img{
	margin:10px 35px 0 0;
	
}
.footerbotton{
	background: #000000;
	height: 40px;
}
.footerbotton1{
	width: 1200px;
	margin:  0 auto;
	color: #c1c1c1;
}
.footerbotton1 p{
	line-height: 40px;
	font-size: 12px;
}
.footerbotton1 .p1{
	float: left;
}
.footerbotton1 .p2{
	float: right;
}