*{margin: 0;padding: 0 ;}
ul{list-style: none;}
a{text-decoration: none;color: #444444;}
.clearfix{*zoom:1;}
p,h1,h2,h3,h4,h5,h6{font-family:'微软雅黑 Regular';};
.clearfix::after{content:"";display: block;clear: both;height:0;overflow:hidden;visibility:hidden;}
/*<meta name="viewport"  content="white=devive-with,initial-scale=1,maxmum-scale=1"/>*/